@{
    ViewData["Title"] = "Home Page";
}

<form action="/pagina-processa-dados-do-form" method="post">
    <div>
        <label for="login">Login:</label>
        <input type="text" id="login" />
    </div>
    <div>
        <label for="senha">Senha:</label>
        <input type="email" id="senha" />
    </div>
    
    <div class="button">
        <button type="submit">Entrar</button>
    </div>
</form>